[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
numpy = "*"
gunicorn = "*"
mlflow = "*"
optuna = "*"
requests = "*"
prefect = "*"
evidently = "*"
psycopg = "*"
psycopg-binary = "*"

[dev-packages]
pytest = "*"
ipykernel = "*"
tqdm = "*"
xgboost = "*"
pylint = "*"

[requires]
python_version = "3.10"
